.App {
  text-align: left;
}

.App * {
  padding: 10px 20px;
  margin: 5px;
}

.NavBar {
  margin-left: -60px;
  margin-right: -60px;
  background-color: #c9ca90;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
  display: flex;
  justify-content: space-between;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 40%;
}
input[type="password"] {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 40%;
}
input[type="submit"] {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  width: 15%;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* 
.container {
  box-sizing: border-box;
} */
